*{
    gap: 5px;
}

body {
  display: grid;
  grid-template-columns: 300px auto;
}

#right-sidebar {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px 50px 50px 50px 50px 50px 100px 50px 50px 50px;
}

.right-side-row {
  display: grid;
  grid-template-columns: 50px auto;
}

#content{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 150px auto;
}

#header{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 50px;
}

#header-top{
    display: grid;
    grid-template-columns: 60% 40%;
}

#header-bottom{
    display: grid;
    grid-template-columns: 60% 40%;
}

#search{
    display: grid;
    grid-template-columns: 50px auto;
}

#search input{
    width: 60%;
    height: 15px;
    align-self: center;
}

#profile-info{
    display: grid;
    grid-template-columns: 50px 50px auto;
}

#profile-greeting{
    display: grid;
    grid-template-columns: 50px auto;
}

#profile-greeting div{
    display: grid;
    grid-template-rows: 20px auto;
}

#control-buttons{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: right;
    gap: 10px;
    
}

#control-buttons button{
    height: 25px;
    width: 70px;
    align-self: center;
}

.project-card-section{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px 200px;
}